.SP500 {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sticker {
	display: flex;
	flex-direction: column;
	width: max-content;
}

.sticker h1 {
	margin: 0;
	color: #ff3c3f;
	font-weight: 700;
}

.sticker .price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.nav-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	font-size: 20px;
	font-weight: 600;
	color: #999;
}
